/.vscode
/.vscode/*
/build
/docs
/bkp
/cache/*
/vendor
/composer
/downloads
/logs/access/*
/logs/errors/*
/node_modules

error.log
access.log
composer.lock
package-lock.json

*.bkp
*.txt
*.html
.env
.htaccess

keyfile
