/*LOADER CSS*/
.Loader{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);margin-left:auto!important;}
  .CubeLoader{position:relative;width:1em;height:1em;font-size:4.5em;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
  .CubeLoader .CubeLoader_Cube{position:relative;float:left;width:50%;height:50%;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform:scale(1.1);transform:scale(1.1);}
  .CubeLoader .CubeLoader_Cube:before{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transform-origin:100% 100%;transform-origin:100% 100%;-webkit-animation:cube-loader 2.208s linear infinite both, cube-loader-color 2.208s infinite;animation:cube-loader 2.208s linear infinite both, cube-loader-color 2.208s infinite;content:"";}
  .CubeLoader .CubeLoader_Loader2__2{-webkit-transform:scale(1.1) rotate(90deg);transform:scale(1.1) rotate(90deg);}
  .CubeLoader .CubeLoader_Loader3__1{-webkit-transform:scale(1.1) rotate(180deg);transform:scale(1.1) rotate(180deg);}
  .CubeLoader .CubeLoader_Loader4__3{-webkit-transform:scale(1.1) rotate(270deg);transform:scale(1.1) rotate(270deg);}
  .CubeLoader .CubeLoader_Loader2__2:before{-webkit-animation-delay:.28704s, 0s;animation-delay:.28704s, 0s;}
  .CubeLoader .CubeLoader_Loader3__1:before{-webkit-animation-delay:.552s, 0s;animation-delay:.552s, 0s;}
  .CubeLoader .CubeLoader_Loader4__3:before{-webkit-animation-delay:.83904s, 0s;animation-delay:.83904s, 0s;}

  /*! CSS Used keyframes */
  @-webkit-keyframes cube-loader{0%, 10%{-webkit-transform:perspective(1.863em) rotateX(-180deg);transform:perspective(1.863em) rotateX(-180deg);opacity:0;}25%, 75%{-webkit-transform:perspective(1.863em) rotateX(0deg);transform:perspective(1.863em) rotateX(0deg);opacity:1;}90%, to{-webkit-transform:perspective(1.863em) rotateY(180deg);transform:perspective(1.863em) rotateY(180deg);opacity:0;}}
  @keyframes cube-loader{0%, 10%{-webkit-transform:perspective(1.863em) rotateX(-180deg);transform:perspective(1.863em) rotateX(-180deg);opacity:0;}25%, 75%{-webkit-transform:perspective(1.863em) rotateX(0deg);transform:perspective(1.863em) rotateX(0deg);opacity:1;}90%, to{-webkit-transform:perspective(1.863em) rotateY(180deg);transform:perspective(1.863em) rotateY(180deg);opacity:0;}}
  @-webkit-keyframes cube-loader-color{0%, 5%{background-color:#ffbe14;}28%, 38%{background-color:#ff4069;}62%, 72%{background-color:#1ba7b6;}95%, to{background-color:#ffbe14;}}
  @keyframes cube-loader-color{0%, 5%{background-color:#ffbe14;}28%, 38%{background-color:#ff4069;}62%, 72%{background-color:#1ba7b6;}95%, to{background-color:#ffbe14;}}
/*LOADER CSS*/

/*DASHBOARD*/
  /* MAP */
  #world-map{height: 420px !important;}
  /* MAP */
/*DASHBOARD*/


.nav-sidebar .menu-is-opening>.nav-link i.right,
.nav-sidebar .menu-is-opening>.nav-link svg.right,
.nav-sidebar .menu-open>.nav-link i.right,
.nav-sidebar .menu-open>.nav-link svg.right {
  -webkit-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
}
.dropdown.bootstrap-select > button.btn:is(:hover,:focus,:visited){
  outline: none !important;
}
.dropdown.bootstrap-select > button.btn,
.dropdown.bootstrap-select > button.btn:hover{
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none !important;
  color: #495057;
}

#filter_box.card:not(.collapsed-card) .card-header #icon_filter_box:before{
  content: "\f068" !important;
}
.dropdown-menu{
  width: auto !important;
}
table thead th{
  cursor: pointer;
}
table.dataTable thead > tr > th:not(.sorting_disabled) {
  padding-left: 30px !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
  left: 8px !important;
  right: auto !important;
}

.align-middle-flag{
  vertical-align: middle;
  padding-top: 2px;
  display: inline-block;
}
.card-body.table-responsive{
  overflow: visible;
}
/*
body:has(.dt-button-collection){
  background: #f4f6f9!important;
  background-color: #f4f6f9!important;
}
body:has(.dt-button-collection) footer.main-footer{
  position: fixed!important;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
body:has(.dt-button-collection) div.content-wrapper{
  margin-bottom: 4rem;
}
*/
body.colvis-btn{
  background: #f4f6f9!important;
  background-color: #f4f6f9!important;
}
body.colvis-btn footer.main-footer{
  position: fixed!important;
  width: 100%;
  bottom: 0;
  z-index: 9;
}
body.colvis-btn div.content-wrapper{
  margin-bottom: 4rem;
}

/*--------SHORT ALERTS----------*/
.alertShort-container{
  width: 100%;
  height: auto;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: 99999999;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.alertShort{
  cursor: pointer;
  background: #FFF;
  width: 350px;
  padding: 1rem;
  min-height: 70px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.alertShort:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.alertShort .details{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.alertShort .circle{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.alertShort .circle.error{
  background-color: #FF4F4F;
  color: #FFF;
}
.alertShort .circle.success{
  background-color: #1BA7B6;
  color: #FFF;
}
.alertShort .circle.warning{
  background-color: #FDBD32;
  color: #FFF;
}
.alertShort p{
  margin: 0;
  font-size: 1rem;
  font-family: Avenir-Medium, sans-serif; 
  font-weight: 700;
  text-align: center;
}
.alertShort span{
  font-size: 1rem;
  font-family: Avenir-Medium, sans-serif; 
  text-align: center;
}

.select2.select2-container span.select2-selection.select2-selection--single{
  font-size: .875rem;
  border-radius: .2rem;
  height: auto !important;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered{
  line-height: 1.5 !important;
}

@media(min-width:1408px){
  .table-usuarios .dropdown-menu.show{
    right: 0px !important;
    left: auto !important;
  }
}